pip install tensorflow
pip install opencv-python
pip install matplotlib
pip install Pillow
pip install pandas
pip install numpy
pip install scikit-learn
pip install scikit-image
pip install scipy